<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/carrito.css">
    <title>carrito</title>
</head>
<body>
    <main>
    <h2><a href="/"><img src="../static/Logo.png" alt="Volver al inicio" width="200px" height="200px"></a></h2><h1><b>CARRITO</b><a href="/carrito"><img src="../static/carrocirculoamarillo.png" alt="ir a carrito" width="150px" height="150px"></a></h1>    

    <section>
        <table border="1px">
            <tr>
                <td>Producto</td>
                <td>Imagen</td>
                <td>Precio</td>
                <td>Total</td>
            </tr>
            <tr>
                <td></td>
                <td><img src="#" width="150px" height="150px"></td>
                <td>$</td>
                <td>$</td>
            </tr>

        </table>
        

    </section>
    <p><a href="/">inicio</a></p>
    </main>

<footer>
    <h1><b><a href="/"></a><img src="../static/Logo.png" alt="" width="500px" height="500px">
    
        <p> Copyright © 2024 CAFE EL INGE </p>
    </footer>
</body>
</html>