<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/crud.css">
    <title>crud</title>
</head>
<body>
    <main>
    <h2><a href="/"><img src="../static/Logo.png" alt="Volver al inicio" width="200px" height="200px"></a></h2><h1><b>USUARIO</b><a href="/carrito"><img src="../static/carrocirculoamarillo.png" alt="ir a carrito" width="150px" height="150px"></a></h1>    

    <table border="1px">
        <td>
            <th>id</th>
            <th>nombre</th>
            <th>correo</th>
            <th>telefono</th>
            <th>direccion</th>
        </td>

        {%for row in contenido tabla%}

    </table>
    
</main>

<footer>
    <h1><b><a href="/"></a><img src="../static/Logo.png" alt="" width="500px" height="500px">
    
        <p> Copyright © 2024 CAFE EL INGE </p>
    </footer>

</body>


</html>